.App {
  margin: 20px;
}

.purple-font {
  color: rgb(111, 0, 255);
}

.link {
  text-decoration: underline;
  color: rgb(32, 0, 235);
}

.edit-button {
  background-image: linear-gradient((245, 221, 194), (56, 75, 87));
}

.delete-button {
  background-image: linear-gradient((212, 173, 175), (55, 73, 87));
}

.form-button {
  background-color: rgb(85, 171, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.authorForm {
  border: 1px solid black;
}